html,
body,


#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

canvas{
    touch-action: none;
}

* {
    font-family: "Poppins", sans-serif;
}


.card {
    border-radius: 20px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 30%;
    height: 200px;
    background-color: #ffffff;
    padding: 0px 20px;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    transition: 0.6s ease-in;
    top: 50%; /* Center vertically by moving the top edge to the middle */
    left: 3%; /* Center horizontally by moving the left edge to the middle */
    transform: translate(0%, -50%); /* Adjust for element dimensions */
    max-width:400px
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #7952b3;
    height:220px;
    width: 25px;
    border-radius: 20px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card:hover::before{
    transition-delay:0.2s;
    transform: scale(40);
  }
  
  .card:hover{
      color: #ffffff;
  
  }